.card-search-component {
  display: flex;
  min-height: inherit;
  flex-wrap: wrap;
  justify-content: center;
  background-size: 100% 100%;
  background-image: url(http://res.cloudinary.com/arcane-lab/image/upload/v1506045235/Art_SOI_Plains_Andreas-Rocha_fv0ofa.jpg);
}

.search-form {
  width: 25%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2%;
  padding: 2%;
  background-color: rgba(254, 226, 149, 0.9);
}

.search-form h2 {
  font-size: 24px;
  margin-bottom: 5%;
}

.search-form input {
  width: 80%;
  height: 20px;
  margin: auto;
}

.color-button-box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.color-button-box button {
  width: 10%;
  height: 20px;
  border-radius: 10px;
  outline: none;
}

.selected {
  border: 2px solid red;
}

.color-button-white {
  background-color: #e49604;
}
.color-button-blue {
  background-color: #264490;
}
.color-button-black {
  background-color: #420161;
}
.color-button-red {
  background-color: #7e001e;
}
.color-button-green {
  background-color: #006633;
}

.search-component {
  height: 450px;
  margin: 2%;
  padding: 1%;
  border: 2px solid #052746;
  font-family: "Goudy Bookletter 1911", serif;
  background-color: rgba(254, 226, 149, 0.9);
}

.search-results {
  width: 20%;
  overflow: auto;
}

.search-results ul {
  height: 100%;
}

.search-results ul li {
  height: auto;
  border: 1px solid rgba(228, 150, 4, 0.9);
  margin: 1px;
  padding: 2%;
}
.search-results ul li:hover {
  cursor: pointer;
}

.card-details {
  width: 80%;
  min-height: 350px;
  height: auto;
  font-size: 18px;
}

.search-image {
  height: 450px;
  width: 321px;
  margin: 2%;
  padding: 1%;
}
