.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #264490;
}

.site-nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.site-nav a {
  height: 20px;
  padding: 10px 20px;
  font-size: 22px;
  background-color: #052746;
  color: #e0f2fe;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Goudy Bookletter 1911", serif;
}

.site-nav a:hover,
.site-nav a:active {
  background-color: #7e001e;
}

.site-logo {
  height: 60px;
  padding: 3px;
  background-color: #e0f2fe;
  border-radius: 4px;
}

.session-control {
  display: flex;
  align-items: center;
}

.session-control div {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.session-control div p {
  color: white;
  font-size: 18px;
  margin-right: 10px;
}

.header-button {
  width: 120px;
  height: 30px;
  background-color: #e0f2fe;
  margin: 5px;
  box-shadow: 0 2px #264490;
}

.header-button:hover {
  cursor: pointer;
}

.button-link:active {
  text-decoration: none;
}
