.session-form-view {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-size: 100% 100%;
  background-image: url(http://res.cloudinary.com/arcane-lab/image/upload/v1506045232/Art_SOI_Island_Andreas-Rocha_CN_qwpoez.jpg);
}

.session-form-box {
  background-color: black;
  opacity: 0.8;
  border-radius: 30px;
  padding: 20px;
  margin: 100px;
  width: 50%;
  min-width: 400px;
  max-width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
}

.session-form-title {
  font-family: "Goudy Bookletter 1911", serif;
  color: white;
  font-size: 40px;
  margin: 15px;
}

.session-form-input {
  font-size: 18px;
  height: 30px;
  width: 80%;
}

.session-form {
  border-radius: 30px;
  color: white;
  padding: 40px;
  height: 80%;
  width: 80%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.session-form div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.session-form-label {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}
.session-form-label input {
  margin: 8px;
}

.session-form-button {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  background-color: #3399cc;
  border-color: #264490;
  color: black;
  box-shadow: 0 2px #264490;
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 18px;
}

.error-list {
  background-color: #fae7ed;
  list-style: none;
  color: #c6113c;
  margin-left: 0px;
  padding: 0px;
  opacity: 1;
}

.error-list li {
  padding: 5px;
}
